.qopt
.log
NGSadmix_K_3_run_13.qopt
bam_list_dataset1_226.txt
NGSadmix_K_3_run_18_reformat.qopt.txt
NGSadmix_K_3_run_18.qopt
NGSadmix_K_2_run_18.qopt
NGSadmix_K_2_run_15.qopt
NGSadmix_K_2_run_15.log
NGSadmix_K_4_run_19.qopt
NGSadmix_K_6_run_19.qopt
logfile
logfile_formatted
